{{ define "templates_admin/export.html" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
    <style>
        a {
            display: block;
            width: fit-content;
            padding: 14px 24px;
            color: coral;
            font-weight: bolder;
            box-shadow: 2px 2px 12px 1px #ccc;
            border-radius: 7px;
            text-decoration: none;
            margin: 30vh auto;
            transition: all 0.3s ease-in-out;
        }

        a:hover {
            transform: translateY(-6px);
        }
    </style>
</head>

<body>
    <a href="{{.downloadLink}}" download="archive"><img src="/static/assets/images/common/archive.svg"/>文件已经打包完成，点我下载</a>
</body>

</html>


{{end}}