{{ define "templates_admin/loginFail.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pkg/bootstrap-theme-sketchy/css/bootstrap.min.css">
    <script src="/static/pkg/jquery-3.6.0/jquery-3.6.0.min.js"></script>
    <title>登录失败</title>
</head>

<body>
    <div class="container">
        <br><br><br><br><br>
        <h1>login fail</h1>
        <p class="text-info">您应该好好想下登录密码或者账号.</p>
        <a class="text-info" href="/admin/login">返回登录页</a>
    </div>
</body>

</html>

{{end}}